<html xmlns:th="https://www.thymleaf.org">

<head>
    <title>
        Edit my profile
    </title>
    <link rel="stylesheet" href="../../../static/css/style.css">
</head>

<body>
    <div class="page-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h3>Create New Customer Account</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-area ptb-80">
        <div class="container">
            <div class="container">
                <div class="col-sm-12">
                    <h3>Edit Profile</h3>
                    <hr>
                    <div class="col-sm-3">
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                            <li><a href="change_password">Change Password</a></li>
                            <li><a href="#deliveryaddress" data-toggle="tab">Delivery Address</a></li>
                            <li><a href="#reentorders" data-toggle="tab">Recent Orders</a></li>
                            <li><a href="#returnorders" data-toggle="tab">Return Orders</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <div class="login-form">
                                    <form th:action="@{/User/edit-profile/{userId}(userId=${user.getId()})}"
                                        th:object="${user}" method="POST">
                                        <div class="form-group login-page">
                                            <label for="">First Name <span>*</span></label>
                                            <input type="text" class="form-control" name="FName" th:field="*{FName}">
                                        </div>
                                        <div class="form-group login-page">
                                            <label for="">Last Name <span>*</span></label>
                                            <input type="text" class="form-control" name="LName" th:field="*{LName}">
                                        </div>
                                        <div class="form-group login-page">
                                            <label for="">Email <span>*</span></label>
                                            <input type="email" class="form-control" name="Email" th:field="*{Email}">
                                        </div>

                                        <button type="submit" name="submit"
                                            class="btn btn-default login-btn">Submit</button>
                                        <!-- </form> -->
                                </div>
                            </div>
                            <div class="tab-pane" id="chnage_passwrd">
                                <!-- <div class="form-group login-page">
                                        <label for="">Old Password<span>*</span></label>
                                        <input type="password" name="old_Password" class="form-control" id="">
                                    </div> -->
                                <div class="form-group login-page">
                                    <label for="">New Password<span>*</span></label>
                                    <input type="password" name="Password" class="form-control" id="">
                                </div>

                                <div class="form-group login-page">
                                    <label for="">Confirm Password<span>*</span></label>
                                    <input type="password" name="con_Password" class="form-control" id="">
                                </div>

                                <button type="submit" name="changePasswordSubmit"
                                    class="btn btn-default login-btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>