<html xmlns :th="http://www.thymleaf.org">
    <head>
        <title>
            list of Shopping Cart
        </title>
        <link rel="stylesheet" href="../../../css/user/shoppingcart.css">
    </head>
    <body>
        <h2>List of Shopping cart</h2>
    </body>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Img</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product: ${products}">
            <td th:text="${product.Name}"/>
            <td th:text="${product.Price}"/>
            <td  th:text="${product.Img}"/>
            </tr>
        </tbody>
    </table>
    <a href="/html/user/index.html">Go to Home</a>
</html>