<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">

<head>
    <title>
        View Profile
    </title>
    <!-- Both does'nt work I don't know why  -->
    <link rel="stylesheet" href="../../../static/css/user/view-profile.css"> 
    <link rel="stylesheet" href="/static/css/user/view-profile.css">
</head>

<body>
    <section class="home">
        <div class="form-container">
            <i class="uil uil-times form_close"></i>
            <div class="form view_form">
                <form action="#">
                    <div class="card1">
                        <h2 style="text-align: center;">My Profile</h2>
                        <br>
                        <hr><br>
                        <div class="profile-info">
                            <label for="username" class="profile-label">First Name:</label>
                            <p class="profile-value"><span th:text="${user.FName}"></span></p>

                            <label for="username" class="profile-label">Last Name:</label>
                            <p class="profile-value"> <span th:text="${user.LName}"></span></p>

                            <label for="email" class="profile-label">Email:</label>
                            <p class="profile-value"> <span th:text="${user.Email}"></span></p>
                            <br>
                            <a th:href="@{/User/edit-profile/{userId}(userId=${user.getId()})}" class="button-link">Edit Profile</a>
                            <br>
                            <a href="" class="button-link">Sign out</a>
                            <br>
                            <a href="" class="button-link">Delete Account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<footer></footer>

</html>