<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../../../css/user/login.css" />

</head>
<body>
  <div class="container">
    <h2>User Login</h2>
    <form th:action="@{/User/Login}" th:object="${user}" method="POST">
      <label for="Email">Email:</label>
      <input type="text" th:field="*{Email}" placeholder="Enter Email" required />

      <label for="password">Password:</label>
      <input type="password" th:field="*{Password}" placeholder="Enter Password" required />

      <input type="submit">
    </form>
  </div> 
</body>
</html>