<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../css/user/header.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>My Website</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>
                <div class="profile">
                    <a href="#"><i class="fas fa-user"></i></a>
                </div>
                <div class="sign-up">
                    <a href="#">Sign Up</a>
                </div>
                <div class="wishlist">
                    <a href="#"><i class="fas fa-heart"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2>Welcome to My Website</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
    </main>
</body>
</html>