<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../../css/user/header.css">
  </head>


  <body>
    <header>
      <a class="navbar-brand" href="index.html">
        <img src="../../../images/logo.png" alt="" />
      </a>
      <div class="header-container">
        <div class="logo">
          <h1>Lodge</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/User/Home">Home</a></li>
            <li><a href="List-products">Products</a></li>
            <li><a href="/User/contact">Contact</a></li>
            <li><a href="about">About</a></li>
            <li><a href="Registration">Sign_Up</a></li>
          </ul>
        </nav>
        <div class="header-right">
          <div class="cart">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="profile">
            <a href="#"><i class="fas fa-user"></i></a>
          </div>
        
          <div class="wishlist">
            <a href="#"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <h2>Welcome to Lodge</h2>
      <p>Discover timeless pieces.</p>
    </main>
  </body>
</html>
