<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/css/user/shoppingcart.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
    <div class="CartContainer">
        <div class="Header">
            <h3 class="Heading">Shopping Cart</h3>
            <form method="post" action="#" th:action="@{/cart/remove-all}">
                <button type="submit" class="Action">Remove all</button>
            </form>
        </div>

        <div th:if="${not #lists.isEmpty(cart)}">
            <div th:each="cartItem : ${cart}" class="Cart-Items">
                <div class="image-box">
                    <img th:src="@{/pages/img/__${cartItem.product.product_img}__}" style="height: 120px;">
                </div>
                <div class="about">
                    <h1 class="title" th:text="${CartItem.product.product_name}"></h1>
                </div>
                <div class="counter">
                    <form method="post" th:action="@{/shoppingcart/increment}" th:object="${CartItem.product}">
                        <input type="hidden" th:name="product_id" th:value="${CartItem.product.product_id}">
                        <button type="submit" class="btn">+</button>
                    </form>
                    <div class="count" th:text="${CartItem.quantity}"></div>
                    <form method="post" th:action="@{/shoppingcart/decrement}" th:object="${CartItem.product}">
                        <input type="hidden" th:name="product_id" th:value="${CartItem.product.product_id}">
                        <button type="submit" class="btn">-</button>
                    </form>
                </div>
                <div class="prices">
                    <div class="amount" th:text="${'$' + cartItem.product.product_price}"></div>
                    <form method="post" th:action="@{/cart/remove-product}">
                        <input type="hidden" th:name="product_id" th:value="${CartItem.product.product_id}">
                        <button type="submit" class="remove"><u>Remove</u></button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="checkout">
                <div class="total">
                    <div>
                        <div class="Subtotal">Sub-Total</div>
                        <div class="items" th:text="${shoppingcart.size()} + ' items'"></div>
                        <div class="total-amount" th:text="${'$' + calculateSubtotal(cart)}"></div>
                    </div>
                    <button class="button" onclick="window.location.href='MainPayment.php'">Checkout</button>
                </div>
            </div>
        </div>
        <p th:unless="${not #lists.isEmpty(cart)}">Your cart is empty.</p>
    </div>
</body>
</html>