<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Store</title>
    <link rel="stylesheet" th:href="@{/css/user/Store.css}" />
  </head>

<body>
  <header th:include="../templates/partials/header.html"></header>

    
    <main>
        <section class="product">
            <img src="img/download.jpg" alt="Kundan Choker Necklace">
            <h2>Kundan Choker Necklace</h2>
            <p>gold Necklace with green stones</p>
            <p>1000$</p>
            <button>Add to Cart</button>
        </section>

        <section class="product">
            <img src="img/download1.jpg" alt="Kundan Choker Jewellery">
            <h2>Kundan Choker Jewellery</h2>
            <p>gold Jewellery with green stones</p>
            <p>2000$</p>
            <button>Add to Cart</button>
        </section>

        <section class="product">
            <img src="img/download2.jpg" alt="Kundan Choker Necklace">
            <h2>Kundan Choker Necklace</h2>
            <p>gold Necklace</p>
            <p>3000$</p>
            <button>Add to Cart</button>
        </section>

        <section class="product">
            <img src="img/download3.jpg" alt="Diamond and Gold Jewellery">
            <h2>Diamond and Gold Jewellery</h2>
            <p>Diamond and Gold Jewellery</p>
            <p>1500$</p>

            <button>Add to Cart</button>
        </section>

        <section class="product">
            <img src="img/download4.jpg" alt="Dimond Necklace">
            <h2>Maria Designer Petal Necklace</h2>
            <p>Dimond Necklace</p>
            <p>2500$</p>

            <button>Add to Cart</button>
        </section>
        <section class="product">
            <img src="img/download5.jpg" alt="Dimond Necklace">
            <h2>Maria Designer Petal Necklace</h2>
            <p>Dimond Necklace</p>
            <p>3500$</p>

            <button>Add to Cart</button>
        </section>

       

    </main>

    <footer th:include="../templates/partials/footer.html"></footer>

</body>
</html>
