<html xmlns:th="https://www.thymleaf.org">
    <head>
        <title>
            Edit Products
        </title>
        <link rel="stylesheet" href="../../../css/admin/edit-product">
    </head>
    <body>
        <div class="container">
            <h2>Edit Products</h2>
            <form th:action="@{/product/editProduct/{productId}(productId=${product.getId()})}" th:object="${product}" method="POST">
                <input type="text" th:field="*{productName}" placeholder="Enter product Name">
                <br>
                <input type="text" th:field="*{productDescription}" placeholder="Enter product Description">
                <br>
                <input type="text" th:field="*{productPrice}" placeholder="Enter product price">
                <br>
                <input type="text" th:field="*{status}" placeholder="Enter Product status">
                <br>

                <input type="submit">
            </form>
        </div>
    </body>
</html>